h1{
  font-size: 5em;
  font-family: arial,helvetica;
  color: #fff;
  margin:0;
  padding:0;
}

.section {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #1d2637;
}

.section1 {
  background-image: url(../imgs/1.jpg);
}
.section2 {
  background-image: url(../imgs/2.jpg);
}
.section3 {
  background-image: url(../imgs/3.jpg);
}
.section4 {
  background-image: url(../imgs/4.jpg);
}
.section5 {
  background-image: url(../imgs/5.jpg);
}
.section6 {
  background-image: url(../imgs/6.jpg);
  background-color: #ffffff;
}

#warpper .section-warpper {
  position: relative;
  max-width: 420px;
  margin: 0 auto;
  height: 100%;
}

img {
  width: 100%;
  display: block;
}

.img-container-1-1 {
  position: absolute;
  top: 55%;
  left: 60%;
  width: 20%;
  animation: resize 1.2s linear infinite alternate;
}
.img-container-1-2 {
  position: absolute;
  top: 5%;
  left: 73%;
  width: 9%;
  animation: rotate 1.5s linear infinite;
}
.img-container-1-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 4.5%;
  animation: blink 1.5s linear infinite alternate;
}


.img-container-3-1 {
  position: absolute;
  top: 2.5%;
  left: 55%;
  width: 40%;
  animation: rolling 3s linear infinite alternate;
}

.msg-container-3-2 {
  position: absolute;
  top: 35%;
  left: 23%;
  width: 25%;
  opacity: 0;
}
.msg-container-3-3 {
  position: absolute;
  top: 42%;
  left: 25%;
  width: 54%;
  opacity: 0;
}
.msg-container-3-4 {
  position: absolute;
  top: 64%;
  left: 65%;
  width: 18.5%;
  opacity: 0;
}
.msg-container-3-5 {
  position: absolute;
  top: 73.5%;
  left: 17.5%;
  width: 18%;
  opacity: 0;
}


.img-container-4-1 {
  z-index: 11;
  position: absolute;
  top: 1%;
  left: 28%;
  width: 44%;
}
.img-container-4-2 {
  z-index: 10;
  position: absolute;
  top: 16%;
  left: 17.5%;
  width: 64%;
  animation: lighting 0.25s linear infinite alternate;
}
.msg-container-4-3 {
  position: absolute;
  top: 38%;
  left: 23%;
  width: 22%;
  opacity: 0;
}
.msg-container-4-4 {
  position: absolute;
  top: 45%;
  left: 25%;
  width: 56.5%;
  opacity: 0;
}
.img-container-4-5 {
  position: absolute;
  top: 56.5%;
  left: 32%;
  width: 36%;
  opacity: 0;
}
.msg-container-4-6 {
  position: absolute;
  top: 53%;
  left: 65%;
  width: 7.5%;
  opacity: 0;
}
.msg-container-4-7 {
  position: absolute;
  top: 58%;
  left: 17.5%;
  width: 9%;
  opacity: 0;
}
.msg-container-4-8 {
  position: absolute;
  top: 64%;
  left: 21%;
  width: 11%;
  opacity: 0;
}
.msg-container-4-9 {
  position: absolute;
  top: 66%;
  left: 70%;
  width: 14%;
  opacity: 0;
}
.msg-container-4-10 {
  position: absolute;
  top: 73.5%;
  left: 68%;
  width: 8.5%;
  opacity: 0;
}
.msg-container-4-11 {
  position: absolute;
  top: 76%;
  left: 20%;
  width: 11%;
  opacity: 0;
}


.msg-container-5-1 {
  position: absolute;
  top: 31%;
  left: 23.5%;
  width: 22%;
}
.msg-container-5-2 {
  position: absolute;
  top: 36%;
  left: 27%;
}
  .coder-desc {
    color: white;
    font-size: 17px;
    border-right: .1em solid;
    width: 11em;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s steps(11, end),
               blink-caret .5s step-end infinite alternate;
  }
  .coder-desc-2 {
    width: 16em;
    animation: typing 4s steps(16, end),
               blink-caret .5s step-end infinite alternate;
  }
  @keyframes typing { from { width: 0; } }
  @keyframes blink-caret { 50% { border-color: transparent;} }


.img-container-6 {
  position: absolute;
  top: 77.9014%;
  left: 33.3333%;
  width: 33.3333%;
}

#fp-nav ul li a span {
  background-color: #d9dadc;
}

/*  First Section  */
@keyframes resize {
  from { width: 18%; }
  to { width: 23%; }
}
@keyframes rotate {
  to,
  from { transform: rotate(0deg);}
  from { transform: rotate(360deg);}
}
@keyframes blink {
  to { opacity: 1; }
  from { opacity: 0.15; }
}
/*  Third Section  */
@keyframes rolling {
  to {
    left: 15%;
    transform: rotate(-20deg);
  }
}
/*  Fourth Section  */
@keyframes lighting {
  from { opacity: 0; }
  to { opacity: 1; }
}
